/#todo_backend.org#
/README.md~
/README.org~
/errors.log
/infoProductionServer.log
/node_modules/
/testDebug.log
/todo_backend.org~
/test/apiRest/api.carts.test.js~
/src/mocks/cartMock.js~
/src/models/CartProductArrayModel.js~
/src/models/CartProductModel.js~
/src/models/errors/Authentication.error.js~
/src/models/errors/Authorization.error.js~
/src/utils/errors.log
/src/utils/infoProductionServer.log
/src/utils/testDebug.log
/public/js/cart.js~
/src/Routers/ticketRouter.js~
/src/controllers/ticketController.js~
