<h1>Chat via Websocket</h1>
<h2 id='titulo'></h2>

<form id='formulario' action='' method='post'>
  <input name="Enviar" type="submit" onsubmit="return nuevoMensaje()" value="Enviar"/>
  <label for="email"></label><input type="text" name="email" value="email" />
  <label for="mensaje"></label><input type="text" name="mensaje" value="mensaje" />
</form>

<div id="contenedorMensajes">
  {{#if hayMensajes }}
<ul class='listaMensajes'>
    {{#each mensajes}}
    <li class='mensaje'>{{#each this}}
      <p>{{@key}}: {{this}}</p>
      {{/each}}
    </li>
    {{/each}}
</ul>
{{else}}
<p>no hay mensajes...</p>
{{/if}}
</div>
<script  src="socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>
