<h1>Perfil de usuario: {{usuario.first_name}} {{usuario.last_name}}</h1>
<div class='container'>

  <button id='aCart' onclick="window.location.href='/carts'">Ir a Carrito</button>

  <div class='card'>{{#each usuario}}

    <p>{{@key}}: {{this}}</p>

  {{/each}}
</div>

<button id='aProductos'>Ir a lista de productos</button>

<button id='logout'>Log Out</button>
</div>



<script src="js/perfil.js"></script>
