<h1>Registro de usuario</h1>


<form id='formularioRegistro' action='' method='post'>
  <label for="first_name"></label><input type="text" id="first_name" placeholder="Nombre" />
  <label for="last_name"></label><input type="text" id="last_name" placeholder="Apellido" />
    <label for="email"></label><input type="text" id="email" placeholder="Email" />  
  <label for="age"></label><input type="text" id="age" placeholder="Edad" />
  <label for="password"></label><input type="password" id="password" placeholder="Password" />
  <input name="Registrar usuario" type="submit" value="Registrar Usuario"/>
</form>

<script src="js/registro.js"></script>