<h1>Reset password!!</h1>

{{#if message}}
  <h3>{{message}}</h3>
  {{/if}}

<form id='formularioReset' action='' method='post'>
  <input name="Reset Passwords" type="submit" value="Reset Password"/>
  <label for="inputPwd1">Ingrese password: </label><input type="password" id="inputPwd1" placeholder="" />
  <label for="inputPwd2">Repita nuevo password: </label><input type="password" id="inputPwd2" placeholder="" />
</form>

<script src="/js/resetPassword.js"></script>