<h1>Enviar link para generar nuevo Password</h1>


<form id='formularioSendLink' action='' method='post'>

    <label for="email"></label><input type="text" id="email" placeholder="Email" />  

  <input name="Send link" type="submit" value="Send Link"/>
</form>

<script src="js/sendLink.js"></script>